.github {
  color: #4e5a68;
}

.linkedin {
  color: #006699;
}

.dark-cloud-pair {
  @apply relative;

  left: 50%;
  top: 60px;
}

.me {
  @apply w-48 rounded-full absolute shadow-lg;
}

.dark-cloud {
  @apply absolute;

  height: 290px;
}

.cloud {
  @apply absolute;

  right: 20px;
  bottom: 0;
  width: 250px;
  animation: shrink 1s infinite alternate;
  animation-delay: 1s;
}

.light-left-cloud {
  @apply absolute;

  left: 15%;
  bottom: 0;
  animation: shrink 1s infinite alternate;
}

.light-right-cloud {
  @apply absolute;

  right: 40px;
  top: 0;
  animation: shrink 1s infinite alternate;
  animation-delay: 0.5s;
}

.lighter-cloud {
  @apply absolute;

  left: 30%;
  top: 0;
  animation: shrink 1s infinite alternate;
  animation-delay: 1.5s;
}

.landing {
  height: 390px;
}

.special {
  @apply container mx-auto mt-24;
}

.green-underscore {
  @apply absolute;

  left: 60px;
  top: 64px;
  animation: underscore 1s steps(5, start) infinite;
}

.docker {
  @apply absolute;

  left: 228px;
  top: 135px;
  animation: docker 1s infinite alternate;
}

.docker-shadow {
  @apply absolute;

  left: 240px;
  top: 240px;
  animation: docker-shadow 1s infinite alternate;
}

@keyframes shrink {
  to {
    transform: scaleX(0.9) scaleY(0.9);
  }
}

@keyframes docker-shadow {
  to {
    transform: scaleX(0.7);
  }
}

@keyframes underscore {
  to {
    visibility: hidden;
  }
}

@keyframes docker {
  to {
    transform: translateY(-10px);
  }
}
